body {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 400px;
    height: auto;
}

#gbaContainer {
    height: fit-content;
    width: fit-content;
    background-color: red;
    position: relative;
}

#screenBackground {
    width:322px;
    height:228px;
    position: absolute;
    
    background-color: black;
    top: 54px;
    left: 38px;

    
    background-image: repeating-linear-gradient(#F8FDFD, #F7F7F7 5%);
      
}

#textBoxContainer {
    background-color: #2B3131;
    position: absolute;
    width: 322px;
    height: 75px;
    bottom:0px;

    z-index: 2;
}

#mustardBG {
    position: absolute;
    bottom: 5px;
    left: 5px;
    
    width: 312px;
    height: 65px;
    background-color: #C9AE5A;
    border-radius: 5px;  

 
}

#announcerBox {
    background-color: #335069;
    border: 2px solid #E5DEE6;
    border-radius: 3px;
    position: relative;

    bottom: 13px;
    left: 3px;

    height: 45px;
    width: 292px;

    padding: 5px;

  
}

#enemyCircle {
    position: absolute;
    width: 160px;
    height: auto;
    right: 5px;
    top: 55px;
}

#userCircle {
    position: absolute;
    z-index: 1;

    width: 180px;
    height: auto;

    bottom: 45px;
    left: 5px;
}