p {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gbaCasing {
    width: 400px;
    height: auto;
}

#gbaContainer {
    height: fit-content;
    width: fit-content;
    background-color: red;
    position: relative;
    
  
}

#screenBackground {
    width:322px;
    height:228px;

    position: absolute;
    
    background-color: black;
    top: 54px;
    left: 38px;

    background-image: repeating-linear-gradient(#F8FDFD, #F7F7F7 5%);
}

#textBoxContainer {
    background-color: #2B3131;
    position: absolute;
    width: 312px;
    height: 65px;
    bottom:0px;
    left: 0;
    padding: 5px;

    z-index: 30;
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 3px;
}

.mustardBG {
    width: 312px;
    height: 65px;
    background-color: #C9AE5A;
    border-radius: 5px;
    padding: 2px;

    justify-content: center;
    align-items: center;
}

#announcerBox {
    background-color: #335069;
    border: 2px solid #E5DEE6;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;

    height: 50px;
    color: white;  
}

#selectionBox {
    background-color: #FFFFE1;
    display: flex;
    justify-content: center; 
}


#enemyCircle {
    position: absolute;
    width: 160px;
    height: auto;
    right: 5px;
    top: 55px;
}

#enemyPokemon {
    position: absolute;
    right: 35px;
    top: 0px;
    z-index: 2;
    width: 100px;
    height: auto;

}

#userCircle {
    position: absolute;
    z-index: 1;

    width: 150px;
    height: auto;

    bottom: 52px;
    left: 5px;
}

#charizard {
    z-index: 2;
    position: absolute;

    width: 120px;
    height: auto;
    left: 20px;
    bottom: 30px;
}

.infoDisplayContainer {
    position: absolute;
    display: flex;
    flex-direction: column;

    background-color: #FFFFE1;
    border: 3px solid #2E3F19;
    border-radius: 5px;
 
    width: 135px;
    padding: 2px;
    gap: 0px;
}

#userInfoDisplayContainer {
    right: 10px;
    bottom: 76px;
    height: 45px;
}

#enemyInfoDisplayContainer {
    height: 30px;
    top: 15px;
    left: 10px;
    padding:3px;
}

.topRow {
    font-size: 12px;
    height: 15px;
    display: flex;
    margin-right: 3px;
    margin-left: 3px;
}

.levelDisplay {
    margin-left: auto;
}

.middleRow {
    background-color: #57695B;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 15px;
    border-radius: 15px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 1px;
    margin-left: auto;
    
}

.middleRow p {
    color: #F6C25E;
}

.healthBarContainer {
    background-color: #2E3F19;
    height: 10px;
    border-radius: 10px;
    width: 100px;
    border: 1px solid #ECEEEC;
    margin-left: 3px; 
}

.healthBar {
    background-color: #99FCB4;
    height: 10px;
    border-radius: 5px;
    width: 100px;
    margin-right: auto;
}

.lastRow {
    margin-left: auto;
    width: fit-content;
    font-size: 12px;
    margin-right: 4px;
}

#actionOptionsList {
   
    grid-template-rows: 30px 30px;
    grid-template-columns: 70px 70px;
    display: none;
    font-size: 14px;

    justify-content: center;
    align-items: center;

    margin-left: 22px;

}

#moveOptionsList {
    grid-template-rows: 30px 30px;
    grid-template-columns: 82px 82px;
    column-gap: 10px;
    display: none;
    font-size: 14px;

    justify-content: center;
    align-items: center;


    margin-left: 15px;
}

.actionOption, .moveOption {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 

    background: none;
    border: 4px solid transparent;

    font-size: 12px;
}

.actionOption:hover {
    border: none;
    border-left: 4px double red;
    font-weight: bold;
}

.moveOption:hover{
    border: none;
    border-left: 4px double red;
    font-weight: bold;

}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes textFlash {
    0% {
        color: black;
    }
    49% {
        color: gray;
    }
    50% {
        color: gray;
    }
    100% {
        color: black;
    }
}

@keyframes helpFlash {
    0% {
        color: #F7F359;
    }
    49% {
        color: gray;
    }
    50% {
        color: gray;
    }
    100% {
        color: #F7F359;
    }
}

@keyframes startFlash {
    0% {
        
        text-shadow: -2px 0 #456AB3, 0 2px #456AB3, 2px 0 #456AB3, 0 -2px #456AB3;
    }
    49% {
        
        text-shadow: -2px 0 transparent, 0 2px transparent, 2px 0 transparent, 0 -2px transparent;
        color: gray;   
    }
    50% {
        text-shadow: -2px 0 transparent, 0 2px transparent, 2px 0 transparent, 0 -2px transparent;
        color: gray;
        
    }
    100% {
      
        text-shadow: -2px 0 #456AB3, 0 2px #456AB3, 2px 0 #456AB3, 0 -2px #456AB3;
    }
}

@keyframes screenColorSwitch {
    0% {
        background-color: black;
    }
    35% {
        background-color: #9D391A;
    }
    70% {
        background-color: #4F0C06;
    }
    100% {
        background-color: #B94A1F;
    }
}


#pokeballPicture, #potionPicture {
    height: 20px;
    width: auto;
}

#pokeballCountBox, #potionCountBox {

    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 30px;

    background-color: #FFFFE1;
    border: 2px solid #2E3F19;

    z-index: 5;

    font-size: 12px;
    gap: 3px;
}

#backButton {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;

    background-color: #FFFFE1;
    border: 2px solid #2E3F19;

    z-index: 15;
    display:none;
}

#backButton:hover{
    background-color: #C9AE5A
}

#homeScreen {
    position: absolute;
    z-index: 32;
    background-color: black;
    height: 228px;
    
}

#homeScreenUnderlay {
    height: 150px;
    width: 322px;
    z-index: 1;
    background-color: black;
    position: absolute;
    animation: 8s infinite alternate screenColorSwitch;
}

#homeScreenOverlay {
    width:322px;
    height:228px;
    position: relative;
    z-index: 2;

}

#startButton {
    position: absolute;
    bottom: 35px;
    left: 55px;
    z-index: 3;

    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 

    background: none;
    border: 4px double transparent;
   
    color: #F7F359;
    text-shadow: -2px 0 #456AB3, 0 2px #456AB3, 2px 0 #456AB3, 0 -2px #456AB3;
    font-weight: bold;
    font-size: 14px;
}

#startButton:hover{
    border-bottom: 4px double #456AB3;
    font-size: 15px;
}

#infoButton {
    position: absolute;
    top: 17px;
    right: 6px;
    z-index: 3;

    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 

    background: none;
    

    border: 2px solid #8C2A13;
    color: #F7F359;
    font-weight: bold;
    font-size: 15px;
}

#infoButton:hover{
    background-color: #456AB3; 
}